# Operating System Files and Environment Files
.DS_Store           # macOS folder metadata
node_modules/        # Node.js module fileS

# Internal Files
internal/
*secret*.yaml
insertCities.js # include DB password