apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: graphapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
        - name: backend-app
          image: graphapp-ingress-backend-image:local
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
            limits:
              cpu: "200m"
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
          env:
            - name: OPENWEATHER_HISTORY_API_BASE
              value: "https://history.openweathermap.org/data/2.5"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: graphapp
spec:
  selector:
    app: backend-app
  # type: NodePort
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      # nodePort: 30081
