apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: graphapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: graphapp-backend:local
          ports:
            - containerPort: 8080
          env:
            - name: OPENWEATHER_HISTORY_API_BASE
              value: "https://history.openweathermap.org/data/2.5"
          envFrom:
            - secretRef:
                name: db-secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: graphapp
spec:
  selector:
    app: backend
  # type: NodePort
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      # nodePort: 30081
