apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: graphapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      containers:
        - name: frontend-app
          image: 693938699452.dkr.ecr.ap-northeast-1.amazonaws.com/graphapp-eks-frontend:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "50m"
            limits:
              cpu: "100m"
          env:
            - name: REACT_APP_API_BASE
              value: "/api"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: graphapp
spec:
  selector:
    app: frontend-app
  # type: NodePort
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 80
