apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: graphapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: graphapp-frontend:local
          ports:
            - containerPort: 3000
          env:
            - name: REACT_APP_API_BASE
              # value: "http://backend.graphapp.svc.cluster.local:8080"
              value: "http://localhost:30081"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: graphapp
spec:
  selector:
    app: frontend
  type: NodePort
  ports:
    - port: 3000
      nodePort: 30000
