apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: graphapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      containers:
        - name: frontend-app
          image: graphapp-frontend-image:local
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "50m"
            limits:
              cpu: "100m"
          env:
            - name: REACT_APP_API_BASE
              # value: "http://backend.graphapp.svc.cluster.local:8080"
              # value: "http://localhost:30081"
              value: "http://localhost:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: graphapp
spec:
  selector:
    app: frontend-app
  # type: NodePort
  type: ClusterIP
  ports:
    - port: 3000
      # nodePort: 30000
      targetPort: 3000
